<div class="bg-gray-900 h-screen border-gray-700 border-r-[1px] transition-all lg:flex flex-col hidden">
  <h1 class="block text-center font-bold text-2xl p-8 overflow-hidden">
    TypeSetters Administration
  </h1>

  <a href="/members/" class="block mx-4 my-2 hover:bg-gray-800 w-auto h-20 border-[1px] border-gray-700 rounded-xl transition-all duration-200 flex justify-center content-center items-center p-4">
    <div class="block w-full text-xl">Members</div>
  </a>
  <a href="/releases/" class="block mx-4 my-2 hover:bg-gray-800 w-auto h-20 border-[1px] border-gray-700 rounded-xl transition-all duration-200 flex justify-center content-center items-center p-4">
    <div class="block w-full text-xl">Releases</div>
  </a>
</div>
